<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Recruiter Lint</title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="<%= asset_path 'application.css' %>">

  <script defer src="<%= asset_path 'application.js' %>"></script>
</head>
<body>
  <header>
    <h1>Recruiter Lint</h1>
  </header>

  <article>
    <textarea placeholder="Paste a recruitment email here"></textarea>

    <section class="results">

    </section>
  </article>
</body>
</html>