@import './mixins'

html, body {
  padding: 0
  margin: 0
}

body {
  margin: 0
  padding: 0
  height: 100%
  background-color: #323846
  font-family: 'Open Sans',sans-serif
  font-size: 14px
  line-height: 20px
  color: #E5E6EC
}

a {
  color: inherit
  cursor pointer
  text-decoration: none
  font-weight: 600
}

h1 {
  margin: 0
  padding: 0
  font-size: 22px
  font-weight: 500
  color: #f7f7f7
  text-shadow: 0 1px 0 rgba(0,0,0,0.05)
}

h2 {
  margin: 0
  padding: 0
  font-size: 18px
  font-weight: 200
}

h1, h2, div, header, article, section, ul, p {
  box-sizing: border-box
}

header {
  height: 50px
  line-height: 50px
  padding: 0 20px 0 15px
  background: #242A31
  text-transform: uppercase

  h1 {
    float: left
    font-weight: bold
    font-size: 20px
  }

  h2 {
    float: right
    font-size: 15px
    font-weight: bold
    text-shadow: 0 1px 0 rgba(0,0,0,0.05)
  }
}

article {
  top: 50px
  left: 0
  right: 0
  bottom: 0
  position: absolute

  .input {
    margin: 15px
    position: absolute
    left: 0px
    top: 0px
    right: 400px
    bottom: 0px
    padding: 15px 17px
    resize: none
    border: none
    border-radius: 3px 0 0 3px
    background: rgba(255, 255, 255, .2)
  }

  textarea {
    outline: none
    display: block
    background: transparent
    border: none
    color: #E5E6EC
    font-size: 15px
    width: 100%
    height: 100%

    &::-webkit-input-placeholder {
      color: #E5E6EC
    }

    &::-moz-input-placeholder {
      color: #E5E6EC
    }
  }

  section {
    position: absolute
    top: 15px
    right: 15px
    bottom: 15px
    width: 400px
    background: #FFF
    color: #606E75
    border-radius: 0 3px 3px 0
    overflow: auto
    box-shadow: -1px 0 2px rgba(0, 0, 0, .1)

    p {
      margin: 20px 0px
      padding: 0 17px
      line-height: 20px
    }

    h2 {
      padding: 10px 15px
      background: #9260BC
      color: #FFF
    }

    ul {
      margin: 20px 0px
      padding: 0 35px
    }

    li {
      line-height: 21px
    }

    li.error {
      color: #E60443
    }

    ul.index {
      padding: 0 20px
      list-style: none
    }

    h2 a.clear {
      float: right
      font-weight: normal
      font-size: 15px
    }

    p.points {
      min-height: 105px
    }
  }
}