@import './mixins'

html, body {
  padding: 0
  margin: 0
}

body {
  margin: 0
  padding: 0
  height: 100%
  background-color: #333643
  font-family: 'Open Sans',sans-serif
  font-size: 14px
  line-height: 20px
  color: #E5E6EC
}

a {
  color: inherit
  cursor pointer
  text-decoration: none
  font-weight: 600
}

h1 {
  margin: 0
  padding: 0
  font-size: 22px
  font-weight: 500
}

h2 {
  margin: 0
  padding: 0
  font-size: 18px
  font-weight: 200
}

h1, h2, div, header, article, section, ul, p {
  box-sizing: border-box
}

header {
  height: 50px
  line-height: 50px
  padding: 0 15px
  background: #242A31

  h1 {
    float: left
  }
}

article {
  top: 50px
  left: 0
  right: 0
  bottom: 0
  position: absolute

  textarea {
    display: block
    margin: 15px
    position: absolute
    left: 0px
    top: 0px
    right: 400px
    bottom: 0px
    outline: none
    padding: 10px 12px
    resize: none
    border: none
    border-radius: 2px
    background: rgba(255, 255, 255, .2)
    color: #E5E6EC
    font-size: 15px

    &::-webkit-input-placeholder {
      color: #E5E6EC
    }

    &::-moz-input-placeholder {
      color: #E5E6EC
    }
  }

  section {
    position: absolute
    top: 15px
    right: 15px
    bottom: 15px
    width: 400px
    background: #FFF
    color: #606E75
    border-radius: 0 3px 3px 0
    overflow: auto

    p {
      margin: 20px 0px
      padding: 0 15px
      line-height: 20px
    }

    h2 {
      padding: 10px 15px
      background: #9260BC
      color: #FFF
    }

    ul {
      margin: 20px 0px
      padding: 0 35px
    }

    li {
      line-height: 20px
    }

    ul.index {
      padding: 0 15px
      list-style: none
    }

    h2 a.clear {
      float: right
    }

    p.points {
      min-height: 100px
    }
  }
}